#modal-day {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(246, 238, 238);
}
#modal-day > * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.day-background-image {
  position: absolute;
  inset: 0;
  display: block;
}
.day-background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.day-click-text {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #1e1e1e;
  font-size: 1rem;
  font-family: serif;
  letter-spacing: 0.1rem;
}

.day-container {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 1s ease-in-out;
}
.day-container.endingAnimate {
  animation: ending-slide 1s linear forwards;
}
@keyframes ending-slide {
  0% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(-37%);
  }
  75% {
    transform: translateX(-30.3%);
  }
  90% {
    transform: translateX(-34.3%);
  }
  100% {
    transform: translateX(-33%);
  }
}
.day-container.day1Animate {
  animation: day1-slide 1s linear forwards;
}
@keyframes day1-slide {
  0% {
    transform: translateX(66%);
  }
  45% {
    transform: translateX(29%);
  }
  75% {
    transform: translateX(35.7%);
  }
  90% {
    transform: translateX(31.7%);
  }
  100% {
    transform: translateX(33%);
  }
}
.day-container.day2Animate {
  animation: day2-slide 1s linear forwards;
}
@keyframes day2-slide {
  0% {
    transform: translateX(33%);
  }
  45% {
    transform: translateX(-4%);
  }
  75% {
    transform: translateX(2.7%);
  }
  90% {
    transform: translateX(-1.3%);
  }
  100% {
    transform: translateX(0%);
  }
}
.day-item-center-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300%;
  height: 3px;
  background: #efe1f2;
}
.day-item {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.day-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background: #f79cac;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);
}
.day-text {
  position: absolute;
  top: calc(50% - 35px); /* 35はマジックナンバー */
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transform-origin: center center;
  width: fit-content;
  padding: 5px 10px;
  margin: 0 auto;
  color: #eeeeee;
  font-size: 1rem;
  font-family: serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1rem;
  z-index: 0;
  transition: all 0.5s ease;
}
.day-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(169, 117, 126, 0.6) 0%, rgba(146, 116, 163, 0.6)100%);
  filter: blur(10px);
  transform: translateZ(0);
  z-index: -1;
}