#modal-endroll {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(246, 238, 238);
}

#modal-endroll * img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

#modal-endroll * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.endroll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
  transform: translateY(0);
}
.endroll-container.active {
  animation: scrollUp 194s linear forwards;
}

@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.endroll-spacer {
  height: 90vh;
}

.endroll-logo-container {
  width: 70%;
}
.endroll-logo-image {
  width: 100%;
}

.endroll-section {
  width: 70%;
}

.endroll-item-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: serif;
  background: linear-gradient(to bottom, #b773dc, #f17388);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.05rem;
  padding-bottom: 5px;
}
.endroll-item-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.endroll-item-content p {
  text-align: center;
  font-size: 1.1rem;
  font-family: serif;
  color: #6b7280;
}
.endroll-last-text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: serif;
  color: #333;
}

.endroll-skip-button-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-size: 1.2rem;
  font-family: serif;
  text-align: center;
  color: #333;
  padding: 20px 0;
  background: linear-gradient(
    to top,
    rgba(246, 238, 238, 0.9) 0%,
    rgba(246, 238, 238, 0.81) 20%,
    rgba(246, 238, 238, 0.72) 35%,
    rgba(246, 238, 238, 0.54) 55%,
    rgba(246, 238, 238, 0.36) 75%,
    rgba(246, 238, 238, 0.18)90%,
    rgba(246, 238, 238, 0) 100%
  );
}

.endroll-bgm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.endroll-bgm-container .endroll-item-content p {
  color: #555;
}
