#modal-top {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#modal-top * img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.top-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  /*
  mask-image: radial-gradient(circle at 0% 50%, black 50%, transparent 90%);
  -webkit-mask-image: radial-gradient(circle at 0% 50%, black 50%, transparent 90%);
  */
  z-index: -1;
}
.top-image-container img.top-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}
.top-title-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
}
.top-title-container img.top-title-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.9))
          drop-shadow(0 0 10px rgba(255, 255, 255, 0.7))
          drop-shadow(0 0 15px rgba(255, 255, 255, 0.5));
}
.top-title-container img.top-title-image.active {
  animation: topTitleImageActive 2.5s ease-in-out infinite;
}
@keyframes topTitleImageActive {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-5px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.top-button-container {
  position: absolute;
  top: 10%;
  left: 85%;
  transform: translateX(-50%);
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.top-button {
  padding: 5px 10px;
  color: #333;
  font-family: serif;
  font-size: 1.1rem;
  text-align: right;
  letter-spacing: 0.15rem;
  background: linear-gradient(currentcolor, currentcolor) left bottom / 100% 1px no-repeat,
              linear-gradient(#f6d893, #f6d893) right 60% / 0 .8em no-repeat;
  background-color: transparent;
  border: none;
  transition: background-size .4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.top-button:hover {
  background-position: right bottom, left 60%;
  background-size: 0 1px, 100% .8em;
}